body{
 	margin: 0px;
	background: #292D36;
}

#header{
	width: 100%;
	height: 110px;
	background: #1A1E25;
	color: #3a87ad;
	font-size: x-large;
}

#headerContent{
	padding: 5px 10px 5px 10px;
}

a:hover{
	padding: 5px 10px 5px 10px;
	background: white;
}